{% extends "Base.html" %}

{% block title %} Edicao de enquete {% endblock title%}

{% block content %}

<div class="widget green">
                        <div class="widget-title">
                            <h3><i class="icon-reorder"></i> Editar enquete </h3>
                            <span class="tools">
                            <a href="javascript:;" class="icon-chevron-down"></a>
                            <a href="javascript:;" class="icon-remove"></a>
                            </span>
                        </div>
                        <div class="widget-body">
                            <!-- BEGIN FORM-->
                            {%if sucesso%}
                                <a align="center"><h4><font color="red">Enquete editada!</font></h4></a>
                            {%endif%}
                            {%if dados_incorretos%}
                                <a align="center"><h4><font color="red">Preencha corretamente os dados.</font></h4></a>
                            {%endif%}
                            <form action="#" class="form-horizontal" method='post'> {% csrf_token %}
                                {% for campo in enquete_form %}
                                <div class="control-group">
                                    <label class="control-label">{{campo.label}}</label>
                                    <div class="controls">
                                        {{campo}}
                                        <!--input type="text" placeholder=".input-large" class="input-large">
                                        <span class="help-inline">Some hint here</span-->
                                    </div>
                                </div>
                                {% endfor %}
                                <button class="btn  btn-success" type="submit">Editar</button>
                            <!-- END FORM-->
                        </div>
                    </div>

{% endblock content %}
